#header {
    width: 100%;
    height: 100vh;
    background: url(/public/assests/bg.png) center center no-repeat;
    background-size: cover;
}

#header .card {
    margin: 25px;
}

.pic {
    width: 50vw;
    height: 45vh;
    overflow: visible;
}

.faqs {
    background: url(/public/assests/bg_2.png) center center no-repeat;
    background-size: cover;
    
}
#contact{
    background: url(/public/assests/bg_4.png) center center no-repeat;
    background-size: cover; 
}
#footer ul{
    list-style: none;
    padding: 0;
}
#footer ul li{
    padding: 5px;
}
.dropdown-toggle{
    background-color: transparent;
    border: none;
    color: none;
}
button#dropdownMenuButton1.dropdown-toggle::after{
    display: none;
}
@media only screen and (max-width: 480px) {
    #titleHeader {
        margin-top: 2rem;
    }

    .pic {
        width: 100%;
    }

    #header .card {
        margin: 10px;
    }
}