#header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1484665739383-a1069a82d4be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) center center no-repeat;
    background-size: cover;
}

#header .card {
    margin: 25px;
}

#icon{
    font-size: 10rem;
    color: lightgray;
}
#icon:hover{
    color: black;
    transition: ease-in-out;
}
.pic {
    width: 50vw;
    height: 45vh;
    overflow: visible;
}

.faqs {
    background: url(/public/assests/bg_2.png) center center no-repeat;
    background-size: cover;
}
.blog{
    background-color: lightgrey;
    padding-bottom: 5rem;
}
#contact{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url(/public/assests/bg_4.png) center center no-repeat;
    background-size: cover; 
    padding-bottom: 2.5rem;
}
#footer {
    /* background: url(/public/assests/bg_2.png) center center no-repeat; */
    background-color: #ffffff;
    background-size: cover;
}
#footer ul{
    list-style: none;
    padding: 0;
}
#footer ul li{
    padding: 5px;
}
.dropdown-toggle{
    background-color: transparent;
    border: none;
    color: none;
}
button#dropdownMenuButton1.dropdown-toggle::after{
    display: none;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
  }
  
@media only screen and (max-width: 480px) {
    #titleHeader {
        margin-top: 2rem;
    }

    .pic {
        width: 100%;
    }

    #header .card {
        margin: 10px;
    }
}